<!-- tracker results here to display -->
<%- include('partials/header.ejs') %>
<%- include('partials/main_nav.ejs') %>

<main class="container">
    <div class="row">
        <div class="col-md-12">
            <br>
            <br>
            <h1><%= title %></h1><br>

            <!-- to add assignments -->
            <form action="/ticket" class="inline">
                <button type="submit" class="ticket">Report Incident</button>
            </form>
            <br>
            <br>
            

            <!-- display assignments -->
            <h2>Active Tickets</h2>
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th class="text-center">Ticket Type</th>
                        <th class="text-center">Incident</th>
                        <th class="text-center">Description</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let count = 0; count < Ticketlist.length; count++) { %>
                        <tr>
                            <td class="text-center"><%= Ticketlist[count].ticket %></td>
                            <td class="text-center"><%= Ticketlist[count].incident %></td>
                            <td class="text-center"><%= Ticketlist[count].description %></td>
                            <td class="text-center">
                                <a href="/public/edit/<%= Ticketlist[count]._id %>">Edit</a>
                                <form action="/public/delete/<%= Ticketlist[count]._id %>" method="POST" onsubmit="return confirmDelete()">
                                    <button type="submit" class="delete_button">Resolve Ticket</button>
                                </form>
                            
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</main>

<%- include('partials/scripts.ejs') %>
